[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
request = "*"
numpy = "*"
opencv-python = "*"
scikit-learn = "*"
nibabel = "*"
matplotlib = "*"
scikit-image = "*"
pillow = "*"
simpleitk = "*"
0r = "*"
requirements-txt = "*"
scipy = "*"

[requires]
python_version = "3.6"
